:root {
  --theme-teal: #9bfff0;
  --theme-red: #ffe2e2;
  --theme-blue: #b7f1ff;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  --link-offset: -200px;
  font-family: "PT Mono", monospace;
}

body {
  background: url("./assets/img/fcc-landing-background.png") repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 1000;
}

header,
main {
  width: 100%;
  max-width: 1100px;
}

nav {
  background-color: var(--theme-teal);
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

#header-img {
  height: 40px;
  width: auto;
  align-self: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin: 5px;
  background-color: white;
  border-radius: 500px;
  padding: 6px 6px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

section {
  height: 100vh;
  display: flex;
}

.white-box {
  box-shadow: var(--shadow);
  border-radius: 15px;
  padding: 40px;
  background-color: white;
}

form {
  align-self: center;
  margin: -200px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#form-anchor {
  position: absolute;
  top: var(--link-offset);
}

h1 {
  font-weight: bold;
  width: 250px;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

#input-box {
  margin-top: 25px;
  display: grid;
  grid-template-rows: 45px 1fr;
  grid-template-columns: 250px 1fr;
  justify-items: end;
}

#email {
  border-radius: 500px;
  /* height: 100%; */
  /* width: 100%; */
  justify-self: stretch;
  outline: none;
  border: none;
  box-shadow: var(--shadow);
  padding: 0 85px 0 15px;
  grid-area: 1 / 1 / 2 / 2;
}

#submit {
  border-radius: 500px;
  /* margin-left: -59px; */
  /* height: 99%; */
  padding: 0 10px;
  outline: none;
  background-color: var(--theme-teal);
  border: none;
  grid-area: 1 / 1 / 2 / 2;
  width: 80px;
  font-family: "PT Mono", monospace;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: teal;
}

#video-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

#video-title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: 0 10px;
}

#video-box {
  position: relative;
}

#video-anchor {
  position: absolute;
  top: var(--link-offset);
}

#features {
  width: 100%;
}

#feature-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 0;
}

.feature-circle {
  background-color: var(--theme-red);
  width: 300px;
  height: 300px;
  border-radius: 500px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 112px;
  color: black;
}

.feature-heading {
  text-align: center;
}

footer {
  position: static;
  bottom: 0;
  background-color: var(--theme-blue);
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.fa-heart {
  color: red;
}

@media (max-width: 768px) {
  #video-section {
    flex-direction: column;
    justify-content: flex-start;
  }

  #feature-list {
    flex-direction: column;
    align-items: center;
  }

  .feature-circle {
    margin: 0;
  }

  section {
    height: unset;
    margin-top: 300px !important;
  }

  #video-box.white-box {
    padding: unset;
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
  }

  #video {
    width: 90vw;
    height: auto;
  }

  #video-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
